*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    display: flex;
    justify-content: space-around ;
    width: 500px;
    height: 500px;
    padding-top: 12px;
    margin: 60px;
    border: 2px solid;
    position: relative;
}
.btn1,.btn2,.btn3,.btn4{
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: goldenrod;
}
img{
    height: 300px;
    position: absolute;
    top: 130px;
    /* left: 80px; */
   
}


.main-container>.btn1:hover~img{
    transition: all 10s;
    transform: rotate(550deg);
}
.main-container>.btn2:hover~img{
    transition: all 6s;
    transform: rotate(550deg) ;
}
.main-container>.btn3:hover~img{
    transition: all 4s;
    transform: rotate(550deg);
}
.main-container>.btn4:hover~img{
    transition: all 1s;
    transform: rotate(550deg) ;
}